@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .glow-sm {
        box-shadow: 0px 0px 32px 8px var(--tw-shadow-color, theme('colors.stone.900'));
    }
    .glow {
        box-shadow: 0px 0px 40px 8px var(--tw-shadow-color, theme('colors.stone.900'));
    }
    .glow-lg {
        box-shadow: 0px 0px 48px 8px var(--tw-shadow-color, theme('colors.stone.800'));
    }
    .glow-xl {
        box-shadow: 0px 0px 56px 8px var(--tw-shadow-color, theme('colors.stone.800'));
    }
    .glow-2xl {
        box-shadow: 0px 0px 64px 8px var(--tw-shadow-color, theme('colors.stone.800'));
    }
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
    transition: background-color 0s 600000s, color 0s 600000s;
}
